{% extends 'events/base.html' %}
{% block content %}
    {% if user.is_authenticated %}
        <h1>Home</h1>
        <p>Welcome back, {{ user.username }}</p>
        <a href="{% url 'events:signout' %}">Log out</a>
    {% else %}
        <a href="{% url 'events:signin' %}"><h1>Log in</h1></a>
    {% endif %}

{% load leaflet_tags %}
{% leaflet_css %}
{% leaflet_js %}

<div>
    <h1>{{ city.name }}</h1>
    {% leaflet_map "main" callback="map_init" %}
</div>

<script type="text/javascript">
    function map_init(map, options) {
        // get point lat and lon
        var lon = "{{ city.geometry.x }}";
        var lat = "{{ city.geometry.y }}";

        // zoom to point & add it to map
        map.setView([lat, lon], 12);
        L.marker([lat, lon]).addTo(map);
    }
</script>

{% endblock content %}