{% extends 'events/base.html' %}
{% block content %}
<head>
    <title>Add Map</title>
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDh98EQumuDYtZDjs3HB8wsXTVeQvNknW0&callback=initMap&libraries=&v=weekly"
      defer
    ></script>
    <style type="text/css">
      #map {
        height: 500px;
        width: 150%;
        display: flex;
        align-items: center;
        border-radius: 25px;
      }
    </style>
    <script>
      function initMap() {
        const uluru = { lat: -25.344, lng: 131.036 };
        const map = new google.maps.Map(document.getElementById("map"), {
          zoom: 4,
          center: uluru,
        });
        const marker = new google.maps.Marker({
          position: uluru,
          map: map,
        });
      }
    </script>
  </head>

{% if user.is_authenticated %}
    <h1>Home</h1>
    Welcome back, {{ user.username }}
    <a href="{% url 'events:signout' %}">Log out</a>
{% else %}
    <a href="{% url 'events:signin' %}"><h1>Log in</h1></a>
{% endif %}
<div id="map"></div>

{% endblock content %}