{% extends 'events/base.html' %}
{% load static %}
{% block content %}

<div class="event-container">
{% if post.banner %} 
<img style="border-radius: 25px" href="{{ post.banner.url }}" alt="{{ post.event_name }}" width="100%" height="200px">
{% endif %}

<div class="flex-row" style='align-items: center;'>
    <h1>{{ post.event_name }}.</h1>
    {% if post.event_organizer == user %}
    <div>
        <a href="{% url 'events:update-event' post.id %}"><button class="save btn btn-outline-light">Edit Post.</button></a>
        <a  href="{% url 'events:delete-event' post.id %}"><button class="save btn btn-outline-light">Delete Post.</button></a>
        
    </div>
    {% endif %}
</div>


<div class="event-list">
    <div style="text-align: left;">
        {{ post.event_description }}
    </div>
</div>

{% if post.event_tags %}
<div class="event-list">
    <div style="text-align: left;">
        Tags: {{ post.event_tags }}
    </div>
</div>
{% endif %}

</div>

<script language="javascript">
    function copyToClipboard() {
        var copyText = document.getElementById("toCopy")
        copyText.type = 'text';
        copyText.select();
        document.execCommand("copy");
        copyText.type = 'hidden';
        alert("Copied the text: " + copyText.value);
    }
</script>

{% endblock %}

{% block sidebar %}
<div>
    <div class="icons">
        <div class="icons">
            {% if post in favorite_posts %}
            <form method="post" action="{% url 'events:unfav-event' post.id %}">
                {% csrf_token %}
                <input type="image" onclick='changeFav()' src="https://i.imgur.com/pw5U3Vy.png" style="width: 25px;margin-right: 7px; filter:invert(100%)">
            </form>
            {% else %}
            <form action="{% url 'events:fav-event' post.id %}">
                {% csrf_token %}
                <input type="image" onclick='changeFav()' src="https://i.imgur.com/kDDHION.png" style="width: 25px;margin-right: 7px; filter:invert(100%)">
            </form>
            {% endif %}
        <em>fave.</em>
        </div>
        
        <div class="icons">
            {% if post in rsvped_posts %}
            <form method="post" action="{% url 'events:unrsvp-event' post.id %}">
                {% csrf_token %}
                <input type="image" onclick='changeRSVP()' src="https://i.imgur.com/LyENq6z.png" style="width: 25px;margin-right: 7px; filter:invert(100%)">
            </form>
            {% else %}
            <form method="post" action="{% url 'events:rsvp-event' post.id %}">
                {% csrf_token %}
                <input type="image" onclick='changeRSVP()' src="https://i.imgur.com/UUP1FbJ.png" style="width: 25px; margin-right: 7px; filter:invert(100%)">
            </form>
            {% endif %}
            <em>rsvp.</em>
        </div>
        
        <div class="icons">
            <input type="hidden" value="{{ request.build_absolute_uri }}" id="toCopy">
            <input type="image" onclick="copyToClipboard()" style="width: 25px; align-self: start; margin-right:7px; filter:invert(100%)" src="https://i.imgur.com/My5FbZN.png">
            <em>share.</em>
        </div>
    </div>
    <div class="flex-col">
        {{ post.event_date|date:"l, F d, Y"  }} 
        {% if post.event_time %} <br>
            {{ post.event_time }}<br>
        {% endif %}
        {% if post.event_address %}
            <br>
            {{ post.event_address }}
            <br>
        {% endif %}
        
        {% if post.event_organizer.profile.profile_pic %}
        <br>
        <div>
            <a href="{% url 'events:profile' post.event_organizer.username %}"><img width=150px style="justify-content: center;" src="{{ post.event_organizer.profile.profile_pic.url }}"></a>
        </div>
        {% endif %}
        {% if post.event_organizer %}
        <a href="{% url 'events:profile' post.event_organizer.username %}">{{ post.event_organizer }}</a>
        {% endif %} 

        {% if post.longitude %}
            ({{ post.latitude }}, {{ post.longitude }})
        {% endif %}

       
    </div>
</div>
{% endblock %}