language: python
python:
- '3.8'
before_install:
  - sudo add-apt-repository --yes ppa:ubuntugis/ppa
  - sudo apt-get --quiet update
  - sudo apt-get install --yes libgdal-dev gdal-bin
install:
- pip install -r requirements-travis.txt
- pip install gdal==`gdal-config --version`
script:
- python manage.py test

deploy:
  provider: heroku
  api_key:
    secure: e058839e-10e5-4205-916b-15fdd44abd08
  app: finder-1-29
  on:
    repo: uva-cs3240-f20/finder-1-29
