
sudo: false
language: python
python:
- "3.8"
services:
- postgresql
install: "pip install -r requirements.txt"
before_script:
- psql -c 'create database testdb;' -U postgres
script: make test
notifications:
  irc:
    channels:
    - "irc.freenode.net#umap"
    on_success: change
    on_failure: always
  email: false
branches:
  only:
  - master

deploy:
  provider: heroku
  api_key:
    secure: e058839e-10e5-4205-916b-15fdd44abd08
  app: finder-1-29
  on:
    repo: uva-cs3240-f20/finder-1-29
