language: python
python:
- '3.8'

addons:
  postgresql: '10'
  apt:
    packages:
      - postgresql-10-postgis-2.5
      - postgresql-10-postgis-2.5-scripts

install:
- pip install -r requirements-travis.txt
- sudo apt-get update -qq
- sudo apt-get install -y libproj-dev libgeos-dev

- if [[ $DATABASE == sqlite ]]; then sudo apt-get install -y libspatialite-dev libsqlite3-mod-spatialite; fi

- pip install tox tox-travis flake8
 
before_script:
- if [[ $DATABASE == postgres ]]; then psql -c 'create database test_db;' -U postgres; fi
- if [[ $DATABASE == postgres ]]; then psql -c 'CREATE EXTENSION postgis;' -U postgres -d test_db; fi

script:
- python manage.py test
- tox
- node --version
- node node_modules/mocha-phantomjs/bin/mocha-phantomjs leaflet/tests/index.html

after_success:
- pip install coveralls
- coveralls

deploy:
  provider: heroku
  api_key:
    secure: e058839e-10e5-4205-916b-15fdd44abd08
  app: finder-1-29
  on:
    repo: uva-cs3240-f20/finder-1-29
