language: python
python: "3.6"
      env:
        GDALVERSION="2.3.3"
        PROJVERSION="4.9.3"
    - python: "3.6"
      env:
        GDALVERSION="2.4.4"
        PROJVERSION="4.9.3"
    - python: "3.7"
      env:
        GDALVERSION="2.4.4"
        PROJVERSION="4.9.3"
    - python: "3.8"
      env:
        GDALVERSION="2.4.4"
        PROJVERSION="4.9.3"
    - python: "3.6"
      env:
        GDALVERSION="3.0.4"
        PROJVERSION="6.2.1"
    - python: "3.7"
      env:
        GDALVERSION="3.0.4"
        PROJVERSION="6.2.1"
    - python: "3.8"
      env:
        GDALVERSION="3.0.4"
        PROJVERSION="6.2.1"
    - python: "3.8"
      env:
        GDALVERSION="master"
        PROJVERSION="6.2.1"
  allow_failures:
    - env:
        GDALVERSION="master"
        PROJVERSION="6.2.1"

before_install:
  - python -m pip install -U pip
  - python -m pip install wheel
  - export PATH=$GDALINST/gdal-$GDALVERSION/bin:$PATH
  - export LD_LIBRARY_PATH=$GDALINST/gdal-$GDALVERSION/lib:$LD_LIBRARY_PATH
  - ../scripts/travis_proj_install.sh
  - travis_wait 20 . ./scripts/travis_gdal_install.sh
  - export GDAL_DATA=$GDALINST/gdal-$GDALVERSION/share/gdal
  - export PROJ_LIB=$GDALINST/gdal-$GDALVERSION/share/proj

install:
- pip install -r requirements-travis.txt
- "if [ \"$GDALVERSION\" == \"master\" -o $(gdal-config --version) == \"$GDALVERSION\" ]; then echo \"Using gdal $GDALVERSION\"; else echo \"NOT using gdal $GDALVERSION as expected; aborting\"; exit 1; fi"
- "python -m pip wheel -r requirements.txt"
- "python -m pip install -r requirements.txt"
- "GDAL_CONFIG=$GDALINST/gdal-$GDALVERSION/bin/gdal-config python -m pip install --no-deps --force-reinstall --no-use-pep517 -e ."
script:
- python manage.py test
deploy:
  provider: heroku
  api_key:
    secure: e058839e-10e5-4205-916b-15fdd44abd08
  app: finder-1-29
  on:
    repo: uva-cs3240-f20/finder-1-29
